.component {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	color: #FFF;
	font-family: Arial, sans-serif;
	font-size: 24px;
	-moz-user-select: none;
	user-select: none;

	border: 2px solid #888;
	margin-top: -2px;
	margin-left: -2px;

	position: absolute;
}

.component-not-ready {
	opacity: 0.5;
}

.component-selected {
	border-color: #883;
	color: #FF8;
}



.pin {
	display: inline-block;
	background-color: #888;
	position: absolute;
}

.pin-horizontal {
	width: 1rem;
	height: 2px;
	margin-top: -1px;
}
.pin-vertical {
	width: 2px;
	height: 1rem;
	margin-left: -1px;
}